.search {
  height: 10%;
  width: 100%;
  background: linear-gradient(180deg, var(--yellow) 50%, white 50%);
}

.search__inner {
  height: 70%;
  width: 90%;
  background-color: white;
  border-radius: 40px;
  color: grey;
  justify-content: space-around;
  box-shadow: 0px 2px 2px var(--shadow);
}

.search__input {
  width: 180px;
}

input {
  border-color: unset;
  border-style: none;
  font-size: 20px;
  max-width: 230px;
}
